.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-root {
  text-transform: capitalize !important;
}

.MuiSvgIcon-root {
  color: #fff;
}

a {
  text-decoration: none;
  list-style: none;
}

.noise-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000; /* Base color */
}

.noise-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2%, transparent 3%);
  background-size: 3px 3px;
  opacity: 0.1;
  pointer-events: none;
}